<h2>Cadastrar Livro</h2>

<form action="" method="POST">
    <div>
        <label for="">Título:</label>
        <input type="text" name="title" placeholder="Digiteo título" id="title">
    </div>
    <div>
        <label for="">Número de paginas:</label>
        <input type="number"="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty">
    </div>

    <button type="submit">cadastrar</button>
</form>